@use '/src/style/colors';

.header__items{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
    a {
        color: colors.$white;
        font-weight: 600;
    }
}