@use "/src/style/fonts";
@use "/src/style/colors";

.trendingContainer {
  margin-top: 3.25rem;
  display: flex;
  width: 100%;
  flex-direction: column;

  & > p {
    font-size: fonts.$text-lg;
  }

  .trendingContent {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
    background: colors.$grey;
    font-weight: 600;
    overflow: hidden;

    border-radius: 0.75rem;

    hr {
      border-color: colors.$grey-200;
    }
  }
}
