@use '/src/style/colors';

.header{
    position: fixed;
    z-index: 1;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-inline: 6rem;

    transition: ease-in-out .3s;
}

.background__on{
    background-color: #000;
}

.background__off{
    background-color: transparent;
}