.progressbar__base {
  display: inline-block;
  border-radius: 100%;
  position: relative;
}

.progressbar__percentage_container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.progressbar__styled_circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
