@use "/src/style/fonts";
@use "/src/style/colors";

.trendingItem {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  cursor: pointer;

  &:hover {
    background: colors.$black-800;
  }

  & > span {
    color: colors.$white;
    font-weight: 500;
  }

  & > .postQuantity {
    color: colors.$white-800;
  }
}
