@use "/src/style/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Inter, sans-serif;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #e4e4e4;
    border: 1px solid #aaa;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22add4, #1e98ba);
  }
}

:root {
  color: colors.$white;
  background-color: colors.$black;
}
