@use '/src/style/colors';

.header__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
    a {
        color: colors.$white;
        font-weight: 600;
    }
}