.container{
    top: 100px;
    position: -webkit-sticky;
    position: sticky;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-anchor: none;
    padding-inline: 9%;

    @media (max-width: 1280px) {
        padding-inline: 3%;
    }
}