.container{
    position: fixed;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    padding-top: 150px;
    padding-inline: 3rem;

    @media (max-width: 1024px) {
        padding-top: 0;
        padding-inline: 0;
    }
}